/assets/theme/.DS_Store
/application/config/staging/.DS_Store
/application/config/development/.DS_Store
/.DS_Store
env.ini
.DS_Store
/composer.lock


# keep folder and ignore files.
/assets/cache/* 

!/**/.gitkeep