

RewriteEngine on

#RewriteCond %{HTTPS} off
# First rewrite to HTTPS:
# Don't put www. here. If it is already there it will be included, if not
# the subsequent rule will catch it.
#RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
# Now, rewrite any request to the wrong domain to use www.
# [NC] is a case-insensitive match
#RewriteCond %{HTTP_HOST} !^www\. [NC]
#RewriteRule .* https://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]


#RewriteCond %{REQUEST_FILENAME} !lb\.php$
#RewriteCond %{REQUEST_URI} !^/hauth
#RewriteCond %{REQUEST_URI} !^/index.php/hauth
#RewriteCond %{HTTP_HOST} !^www\. [NC]
#RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=302,L]

<filesMatch "\.(htaccess|htpasswd|ini|pem|phps|fla|psd|log|sh|lock)$">
 Order Allow,Deny
 Deny from all
</filesMatch>


#AuthUserFile /var/fog/apps/30029/ex.phpfogapp.com/.htpass
#AuthType Basic
#AuthName "Enter password"
#Require valid-user

Options -Indexes
Options +FollowSymLinks

# Set the default handler.
DirectoryIndex index.php

<IfModule mod_rewrite.c>
	RewriteEngine on

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^(.*)$ index.php/$1 [L,QSA]
</IfModule>
