
files:
  "/etc/httpd/conf.d/enable_mod_rewrite.conf":
     mode: "644"
     owner: root
     group: root
     content: |
        LoadModule rewrite_module modules/mod_rewrite.so
       <Directory /var/www/html/>
        Options Indexes FollowSymLinks
        AllowOverride All
        Require all granted
       </Directory>