/*!
 * Hoja de estilos Pixellec
 * Autor: DC
 * VIII 2020
 */

.dc-home-sports {
    padding-left: 10px;
}

.dc-home-img-slider {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.dc-home-div-banner {
    margin-top: 10x;
    padding: 0px;
}

.dc-home-banner {
    margin: 0xp;
    padding: 0px;
    text-align: right;
}

.dc-home-banner-a {
    background-image: url("https://www.pixellec.com/img-tucancha/banner_1.png");
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    margin-top: 7px;
    padding: 0px;
    width: 100%;
    height: 158px;
}

.dc-home-banner-b {
    background-image: url("https://www.pixellec.com/img-tucancha/banner_2.png");
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    margin-top: 7px;
    padding: 0px;
    width: 100%;
    height: 158px;
}

.dc-home-banner-c {
    background-image: url("https://www.pixellec.com/img-tucancha/banner_3.png");
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    margin-top: 7px;
    margin-bottom: 3px;
    padding: 0px;
    width: 100%;
    height: 158px;
}

.dc-home-banner-d {
    background-image: url("https://www.pixellec.com/img-tucancha/banner_4.png");
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    margin-top: 7px;
    margin-bottom: 3px;
    padding: 0px;
    width: 100%;
    height: 158px;
}

.dc-home-banner-e {
    background-image: url("https://www.pixellec.com/img-tucancha/banner_5.png");
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    margin-top: 17px;
    padding: 0px;
    width: 100%;
    height: 323px;
}

.dc-footer-logo {
    padding: 20px;
}

.dc-header-login {
    margin: 0px;
    padding: 0px;
}

.dc-header-fb {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dc-login-modal-right {
    padding: 0px 20px 0px 20px;
    border-right: 2px solid #d0dd28;
}

.dc-login-modal-left {
    padding: 0px 20px 5px 30px;
}

.dc-footer-derechos {
    margin-top: 20px;
}

.dc-img-footer {
    width: 100%;
}

@media only screen and (max-width: 900px) {
    .dc-login-modal-right {
        border-right: 0px;
    }
    .dc-login-modal-right {
        border-right: 0px;
    }
    .dc-img-footer {
        width: 300px;
    }
}

.dc-info-pago {
    margin-top: 20px;
    padding-left: 30px;
}

.dc-pago-text {
    font-family: "Roboto";
    color: red;
    margin: 0px;
    text-decoration: none;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
}

.dc-img-modal {
    background-image: url("/assets/theme/tuc/images/pago_efectivo.png");
    background-size: contain;
    background-repeat: no-repeat, repeat;
    width: 98%;
    height: 350px;
    background-position: center;
}

.dc-img-modal-footer {
    background-image: url("/assets/theme/tuc/images/pago_efectivo_footer.png");
    background-size: contain;
    background-repeat: no-repeat, repeat;
    width: 98%;
    height: 150px;
    background-position: center;
}

@media only screen and (max-width: 900px) {
    .dc-img-modal-footer {
        background-image: url("/assets/theme/tuc/images/pago_efectivo_footer_movil.png");
        background-size: contain;
        background-repeat: no-repeat, repeat;
        background-position: center;
        width: 98%;
        height: 80px;
    }
    .dc-img-modal {
        background-image: url("/assets/theme/tuc/images/pago_efectivo_movil.png");
        background-size: contain;
        background-repeat: no-repeat, repeat;
        background-position: center;
        width: 98%;
        height: 500px;
    }
}

.dc-table-pago {
    color: black;
    size: 12px;
    font-family: "Roboto";
}

.dc-ppv-banner {
    width: 100%;
    max-height: 40vh;
    margin-bottom: 10px;
}

.dc-ppv-img {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    max-height: max-content;
}

.dc-titulo-ayuda {
    color: #d0dd28;
}