<div class="cd-main-content tournament-page">

    
    <div class="yellow-tittle-container">
        <div class="yellow-title">
            <a class="identity-title" ng-click="go(mainActivity._id)">{{mainActivity.title}}</a> <span class="cd-tab-subcategory identity-title" ng-show="selectedItemName !== '' ">/ {{selectedItemName}}</span>
        </div>
    </div>
    <!-- <div class="cd-tab-filter-wrapper">
        <div class="cd-tab-filter single-title">
            <a class="identity-title" ng-click="go(mainActivity._id)">{{mainActivity.title}}</a> <span class="cd-tab-subcategory" ng-show="selectedItemName !== '' ">/ {{selectedItemName}}</span>
        </div>
    </div> -->
    <div class="identity-content col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 gallery-container">
            <section class="cd-gallery col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="single-category" ng-show="events.length >0">
                    <div class="category-header">
                        <h1 id="eventsBlock">Eventos en Vivo <a class="cd-filter-trigger"></a></h1>
                    </div>
                    <div class="featured-shows">
                        <div class="row new-releases">
                            <event-block class="col-xs-12 col-sm-6 col-lg-3" my-list="myList" ng-repeat="event in events | orderBy:'-added' | limitTo:12" video="event" ng-if="isAllowed(event)"></event-block>
                        </div>
                    </div>
                </div>
            
                <div class="videos-cont">
                    <div class="category-header row">
                        <h1 class="transparent-black pl7 col-x-12 col-sm-2 col-lg-2" id="videosBlock">Videos <a class="cd-filter-trigger"></a></h1>
                    </div>
                    <div class="row new-releases">
                        <clip-block class="col-x-12 col-sm-6 col-lg-3" ng-repeat="video in videos" video="video" ng-if="isAllowed(video)"></clip-block>
                    </div>
                    <div class="loader" ng-if="loading">
                    </div>
                    <div class="col-xs-12 more hand" ng-if="showMore" ng-click="nextPage()">Mas <span class="icon icon-arrow-down-white"></span></div>
                </div>
        
                <div class="highlights" ng-show="highlights.length >0">
                    <div class="category-header">
                        <h1>Highlights</h1>
                    </div>
                    <div class="row new-releases">
                        <clip-block class="col-xs-12 col-sm-6 col-lg-3" my-list="myList" ng-repeat="video in highlights | orderBy:'-added' | limitTo:12" video="video" ng-if="isAllowed(video)"></clip-block>
                    </div>
                </div>
            </section>
            <filter-panel fields="filterFields" dt-from="dtFrom" dt-to="dtTo" get-page-attr="getPage(pageArg)" page-attr="page" filter-list-attr="filterList"></filter-panel>
        </div>
    </div>
</div>