<main class="cd-main-content">
    <div class="cd-tab-filter-wrapper">
     
        <div class="cd-tab-filter single-title">
            {{mainIdentity.title}} 
        </div>
    </div>
    <section class="cd-gallery">
        <div class="videos-cont">
            <div class="row">


                    <div class="col-sm-12 col-md-6 col-lg-3 month_container month{{plan.subscriptionLength}} {{plan.campaign_active?'campaign_active':''}}" ng-repeat="plan in plans">

                        <div class="subscription_background">
                            <div class="month_title">
                                <div ng-if="plan.subscriptionLength==1" class="">
                                    {{plan.billingSchedule[0].duration}} Month</div>
                                <div ng-if="plan.subscriptionLength>1" class="">
                                    {{plan.billingSchedule[0].duration}} Months</div>
                            </div>
                            <div class="price_container">
                                <div ng-if="plan.campaign_active" class="old_price">US${{plan.old_price}}</div>
    
                                <div class="price_section">
                                    <span class="price_us">US$</span>
                                    <span class="price_amount">{{plan.billingSchedule[0].amount}}</span>
                                </div>
    
                                <div class="price_desc">
                                    Auto-renew each
                                    <span ng-if="plan.subscriptionLength==1">
                                    {{plan.billingSchedule[0].duration}} Month</span>
                                    <span ng-if="plan.subscriptionLength>1">
                                    {{plan.billingSchedule[0].duration}} Months</span>
                                </div>
    
                            </div>
                            <div class="subscription_desc">
    
                                <div ng-if="plan.campaign_active" class="sub_desc_item red"> <i class="fa fa-circle"></i></div>
                                <div class="sub_desc_item"><i class="fa fa-circle"></i> Access to 10 Channels</div>
                                <div class="sub_desc_item"><i class="fa fa-circle"></i> Unrestricted access to VOD Catalogue</div>
                                <div class="sub_desc_item"><i class="fa fa-circle"></i> Watch 3 screens simultaneously</div>
                                <div class="sub_desc_item"><i class="fa fa-circle"></i> Watch on your laptop, phone or tablet</div>
    
                            </div>
    
                            <div class="button_section">
                                <button class="btn buy_button" ng-click="buy(plan)">
                                    buy now
                                </button>
                            </div>
                        </div>
                    </div>
                </div>    

                <identity-block class="col-x-12 col-sm-4 col-lg-2" ng-repeat="identity in identities" identity="identity" mainidentity="mainIdentity"></identity-block>

            </div>
            <div class="loader" ng-if="loading">
            </div>
            <div class="col-xs-12 more hand" ng-if="showMore" ng-click="nextPage()">Mas <span class="icon icon-arrow-down-white"></span></div>
        </div>
    </section>


    
</main>