<div class="tv-shows-page">
    <div class="series-description" style="background-image: url('{{seriesPosterH | https}}')" ng-hide="activeVideo.media._id">
        <div class="purple-gradient">

        </div>
        <div class="tv-show-loader" ng-if="loadingSeasons">

        </div>
        <div class="tv-container about row" ng-hide="loadingSeasons">
            <div class="col-sm-3 col-xs-6 poster" style="background-image: url('{{seriesPosterV | https }}')">
                <!-- <img src="{{seriesPosterV}}" alt="image"> -->
            </div>
            <div class="col-sm-7 col-xs-6 description-area">
                <div class="title-area">
                    <span class="title">{{seriesInfo.title}}</span>
                    <!-- <span class="{{subscriptionType(commerceMedia)}}">{{subscriptionType(commerceMedia) | uppercase}}</span> -->
                </div>
                <div class="meta">
                    Seasons: <span>{{totalSeasons}}</span>
                </div>
                <div class="meta">
                    Episodes: <span>{{totalEpisodes}}</span>
                </div>
                <div class="meta">
                    Rating: <span>{{rating}}</span>
                </div>
                <div class="description">{{seriesInfo.description}}</div>
                <div class="live-on">
                    Watch live On
                    <img class="channel" src="{{seriesChannel}}" alt="">
                </div>
                <div class="social">
                    <span class="icon icon-facebook-logo-45x45" ng-click="facebookShareSeries()"></span>
                    <span class="icon icon-twitter-icon-45x45" ng-click="twitterShare()"></span>
                </div>
            </div>
            <!-- <div class="about-right">
            </div> -->
        </div>
    </div>
    <div class="content" id="mainContent">
        <div class="main-player" ng-if="activeVideo.media._id" id="mainPlayer">
            <h2 class="info-right" ng-show="!isAllowed(activeVideo.media)">Este contenido no esta disponible en tu pais.</h2>
            <div class="row" ng-if="isAllowed(activeVideo.media)" video="activeVideo.media">
                <div class="col-sm-7 video-left">
                    <div class="vod-loader" ng-show="loadingPlayer">
                    </div>

                    <jwplayer ng-if="activeVideo.media._id && hasAccess() && isAllowed(activeVideo.media)" video="activeVideo.media" autoplay="true" data-id="video-player"></jwplayer>
                    <h2 class="info-right" ng-hide="allowAccess">You must be {{permission}} to watch this video</h2>
                    <a ng-click="user._id?go('/account/subscription'):openLoginModel()">
                        <h2 ng-show="permission=='Subscribed'">SUBSCRIBE NOW</h2>
                    </a>
                </div>
                <div class="col-sm-5 info-right">
                    <div class="title-area">
                        <span class="title">{{activeVideo.media.title}}</span>
                        <!-- <span class="{{subscriptionType(commerceMedia)}}">{{subscriptionType(commerceMedia) | uppercase}}</span> -->
                    </div>
                    <div class="meta">
                        Season: <span>{{currentSeason.number}}</span>
                    </div>
                    <div class="meta">
                        Episode: <span>{{activeVideo.media.number}}</span>
                    </div>
                    <div class="meta">
                        Air Date: <span>{{activeVideo.media.aired_date | date: 'MMMM dd, yyyy'}}</span>
                    </div>
                    <div class="meta">
                        Rating: <span>{{currentRating}}</span>
                    </div>
                    <div class="description">{{activeVideo.media.description}}</div>
                    <div class="social">
                        <span class="icon icon-facebook-logo-45x45" ng-click="facebookShareEpisode()"></span>
                        <span class="icon icon-twitter-icon-45x45" ng-click="twitterShare()"></span>
                    </div>
                    <div class="my-list">
                        <span ng-hide="isInWatchlist(activeVideo.media._id)">
                            <span class="fll icon icon-add-purple-45x45" ng-click="addToList(activeVideo.media._id, $event)"></span>
                        <span class="fll mylist-span">My List</span>
                        </span>
                        <span ng-show="isInWatchlist(activeVideo.media._id)">
                            <span class="fll icon icon-add-purple-45x45 in-list" ng-click="removeFromList(activeVideo.media._id, $event)"></span>
                        <span class="fll mylist-span">Remove</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="episodes tv-container">
            <div class="episodes-choose ">
                <div class="row" style="margin-bottom:20px;">
                    <div class="col-sm-3 col-xs-6 season">
                        <button type="button" class="season-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="title-span">{{currentSeason.title}}</div>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="season in seasons" ng-click="getEpisodes(season)">
                                {{season.title}}
                            </li>
                        </ul>
                    </div>
                    <div class="pages-count col-sm-9 col-xs-6">
                        <div ng-if="episodes.length > 12" class="pages">
                            Page:
                            <span class="{{episodeIndex==0?'focus':''}}" ng-click="changeEpisodeIndex(0)">1</span>
                            <span class="{{episodeIndex==12?'focus':''}}" ng-click="changeEpisodeIndex(12)" ng-if="episodes.length > 12">2</span>
                            <span class="{{episodeIndex==24?'focus':''}}" ng-click="changeEpisodeIndex(24)" ng-if="episodes.length > 24">3</span>
                            <span class="{{episodeIndex==36?'focus':''}}" ng-click="changeEpisodeIndex(36)" ng-if="episodes.length > 36">4</span>
                            <span class="{{episodeIndex==48?'focus':''}}" ng-click="changeEpisodeIndex(48)" ng-if="episodes.length > 48">5</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- <clip-block class="col-md-3 col-xs-12" ng-repeat="video in episodes | orderBy:'aired_date': true  | limitTo:12:episodeIndex" video="video.media" data-transparent="true" ></clip-block> -->

                    <episode-block class="col-md-3 col-xs-12" ng-repeat="video in episodes | orderBy:'aired_date': true  | limitTo:12:episodeIndex" video="video.media" ng-if="isAllowed(video.media)" data-transparent="true" data-link="'tv-shows/'+ show_id + '/' + currentSeason.number"></episode-block>

                </div>
            </div>
        </div>
        <div class="recommended">
            <div class="tv-container">
                <div class="row series">
                    <h2>You may also like</h2>
                    <tv-show-block ng-if="otherShows" class="col-xs-6 col-sm-15" ng-repeat="item in otherShows | limitTo: 5" data-block="item"></tv-show-block>
                </div>
            </div>
        </div>
    </div>
</div>